// Changing Jenkins JENKINS_URL and JENKINS_EMAIL variables
jlc = JenkinsLocationConfiguration.get()
jlc.setUrl("{{ jenkins_notification_hostname }}")
jlc.setAdminAddress("{{ jenkins_notification_email }}")
jlc.save()